/*
Stylesheet for CSS Demo
*/

/*-----------Box Sizing--------*/
html{
    box-sizing: border-box;
}
    *,
    *:before,
    *:after{
    box-sizing: inherit;
}


/*----------Global Styles-----*/

/*Color Scheme
Primary-#FF7373



*/

body{
    background-color:blanchedalmond;

    font-family: 'Lora', serif;
    margin:0;
}

header.primary {
    background:#FF7373;
    text-align:center;
    color:#ffffff;
    padding:40px;
    /* Long Form*/
    padding-top:40px;
    padding-right:40px;
    padding-bottom:40px;
    padding-left:40px;

    /* T,R,B,L */
    padding:40px 40px 40px 40px;


    /* Top/Bottom  Right/Left */
    padding: 40px 40px;

    text-shadow: 2px 2px #000000;
}

header.primary h1{
    font-size:2.6rem;
    margin:20px 0;
}

header.primary h1 a{
    color:#9E2828;
    text-decoration:none;
}

header.primary h2{
    font-size:1.4rem;
    margin:20px auto 40px;
}

header.primary nav{}
header.primary nav ul{
    /* removes extra soace from list item attachments */
    padding:0;
}
header.primary nav ul li{
    list-style-type:none;
}
header.primary nav ul li a{
    color:#ffffff;
    text-decoration:none;
    background-color:#000000;
    padding:8px 16px;
    margin-bottom:1rem;
    display:inline-block;
}